*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: rgb(128, 198, 7);
}
button{
    color: rgb(8, 219, 47);
}