*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: rgb(116, 9, 239);
}
button{
    color: rgb(41, 10, 239);
}